.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;


  &__content {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: white;

    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    height: 40px;
    min-width: 40px;
    margin-bottom: 10px;
  }
}